<div id="layout-content-only" class="template-layout" layout="column" flex>
    <md-content id="content" class="animate-slide-up md-hue-2" ui-view="content" flex></md-content>
	<!--<div>
	<button class="md-fab md-accent md-fab-bottom-right md-button" style="top: auto;right:60px;bottom: 20px;left: auto;position: absolute;background-color:#00CC66;" type="button" ng-click="sendmessage($event);" aria-label="Send Message">
		<md-icon md-svg-src="assets/images/backgrounds/message.svg"></md-icon>
	
	</button>
</div>-->
</div>