<style>
    .md-chips md-chip ._md-chip-remove md-icon {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    /* font-size: 15px; */
}

.md-chips md-chip {
    height: 25px !important;
    line-height: 25px !important;
    font-size: 15px;
    font-weight: 500;
}

</style>

<md-dialog class="mobile-fullwidth-dialog">
<md-progress-linear class="md-primary" md-mode="indeterminate" ng-show="showProgress"></md-progress-linear>
    <form name="emailForm" novalidate ng-submit="submit()" style="width: 500px">
        <md-toolbar class="toolbar-default" md-theme="default">

            <div class="md-toolbar-tools">
                <h2>
                    <span>{{settings.title}}</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="cancel">
                    <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-divider></md-divider>

        <md-dialog-content class="email-dialog md-padding">

            <div layout="row">
                <div layout="column" flex>
                    <span class="md-caption">To: </span>
                    <md-chips ng-model="settings.InvoiceContacts.to_email" readonly="false" md-removable="true" md-enable-chip-edit="true" name="to_email" md-on-add="validateChip($chip,'to')" md-on-remove="validateChip($chip,'to')" placeholder="{{'TO'}}" secondary-placeholder="">
                    </md-chips>

                    <div class="email-dialog-ccs ng-hide" layout="column" ng-show="showCCS">
                        <span class="md-caption">CC: </span>
                        <md-chips ng-model="settings.InvoiceContacts.cc_email" readonly="false" md-removable="true" md-enable-chip-edit="false" md-max-chips="3" name="bcc_email" md-on-add="validateChip($chip,'cc')" placeholder="{{'CC' }}" secondary-placeholder="">
                        </md-chips>
                        <span class="md-caption">BCC: </span>
                        <md-chips ng-model="settings.InvoiceContacts.bcc_email" readonly="false" md-removable="true" md-enable-chip-edit="false" md-max-chips="3" name="bcc_email" md-on-add="validateChip($chip,'bcc')" placeholder="{{'BCC' }}" secondary-placeholder="">
                        </md-chips>
                    </div>
                    <span class="md-caption">From: </span>
                    <md-chips secondary-placeholder="{{'From' }}">
                        <md-chip secondary-placeholder="{{'From' }}">{{settings.InvoiceContacts.sender_name}}
                            {{settings.InvoiceContacts.sender_email}}
                        </md-chip>

                    </md-chips>
                    <!-- <md-input-container flex="30" style="width:50%">
                            <label>Template</label>
                            <md-select ng-model="selectedTemplate"  name="type" >
                            <md-option ng-click="SelectedTemplateValue(template)" ng-repeat="template in settings.InvoiceContacts.template_email track by $index"
                            ng-value="{{template}}" ng-selected="template.isSelected == true">{{template.name}}</md-option>

                            </md-select>
                          </md-input-container> -->

                </div>
                <md-button class="md-icon-button md-raised" ng-click="toggleCCS($event)" aria-label="toggle ccs">
                    <md-icon md-font-icon ="fa fa-user-circle-o"></md-icon>
                </md-button>
                <!-- ng-class="showCCSIcon" -->
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" type='submit' ng-disabled="disabledSubmitButton" aria-label="send" translate="Send" >Send</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
